<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
</head>
<body>

<form action="/weixin/auth/register">
    电话<input name="telPhone" type="text">
    密码<input name="password" type="password">
    <input type="submit" value="确认">
</form>

<script>

</script>
</body>
</html>